In [1]:
# import package
import pandas as pd
import numpy as np

In [2]:
# import data
data = pd.read_csv('data/data_kos_its.csv', sep=',')
data

,Nama,Lokasi,Fasilitas,Review,Harga
0,Kost Mario,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,NaN,Rp1.500.000
1,Kost Hub E,Kecamatan Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,NaN,Rp2.200.000
2,Kost Maha Cita Tipe A,Kecamatan Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,NaN,Rp1.500.000
3,Kost Griya 4S,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,4.6,Rp1.286.000
4,Kost Bumi Marina Emas Tipe B,Sukolilo,WiFi·Kasur·Akses 24 Jam\n4.0,4.0,Rp786.600
...,...,...,...,...,...
195,Kost Pak Dachlan Tipe C,Mulyorejo,WiFi·Kloset Duduk·Akses 24 Jam,-,Rp700.000
196,Kost B19 Tipe A,Kecamatan Sukolilo,WiFi·AC·Kloset Duduk·Kasur·Akses 24 Jam,-,Rp1.200.000
197,Kost Bu Novi I,Sukolilo,K. Mandi Dalam·WiFi·Kasur·Akses 24 Jam,-,Rp600.000
198,Kost ITS Hangtuah,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,-,Rp1.600.000
199,Kost Keputih ITS,Sukolilo,WiFi·Kloset Duduk·Kasur·Akses 24 Jam,-,Rp650.000

### Lokasi

In [3]:
data['Lokasi'].unique()

array(['Sukolilo', 'Kecamatan Sukolilo', 'Mulyorejo',
       'Kecamatan Mulyorejo', 'Gubeng'], dtype=object)

In [4]:
# delete 'Kelurahan' in colom 'Lokasi'.

location = []

for d in data['Lokasi']:
    location.append(d.split()[-1])

location

['Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Gubeng',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Gubeng',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Gubeng',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Mulyorejo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo',
 'Sukolilo']

In [5]:
# change value
data['Lokasi'] = location

In [6]:
data.head()

,Nama,Lokasi,Fasilitas,Review,Harga
0,Kost Mario,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,NaN,Rp1.500.000
1,Kost Hub E,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,NaN,Rp2.200.000
2,Kost Maha Cita Tipe A,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,NaN,Rp1.500.000
3,Kost Griya 4S,Sukolilo,K. Mandi Dalam·WiFi·AC·Kloset Duduk·Kasur·Akse...,4.6,Rp1.286.000
4,Kost Bumi Marina Emas Tipe B,Sukolilo,WiFi·Kasur·Akses 24 Jam\n4.0,4.0,Rp786.600

### Fasilitas

In [7]:
# change '·' to ',' and throw the ratings

facilities = []

for d in data['Fasilitas']:
    L = d.split('\n')[0]
    facilities.append(L.replace('·',', '))

facilities[:10]

['K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam',
 'K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam',
 'K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam',
 'K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam',
 'WiFi, Kasur, Akses 24 Jam',
 'WiFi, Kasur, Akses 24 Jam',
 'WiFi, AC, Kasur, Akses 24 Jam',
 'WiFi, AC, Kasur, Akses 24 Jam',
 'WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam',
 'WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam']

In [8]:
# change value
data['Fasilitas'] = facilities

In [9]:
data.head()

,Nama,Lokasi,Fasilitas,Review,Harga
0,Kost Mario,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",NaN,Rp1.500.000
1,Kost Hub E,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",NaN,Rp2.200.000
2,Kost Maha Cita Tipe A,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",NaN,Rp1.500.000
3,Kost Griya 4S,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",4.6,Rp1.286.000
4,Kost Bumi Marina Emas Tipe B,Sukolilo,"WiFi, Kasur, Akses 24 Jam",4.0,Rp786.600

### Harga

In [10]:
# remove 'Rp' and '.'

prices = []

for d in data['Harga']:
    p = d.replace('Rp','')
    p2 = p.replace('.','')
    prices.append(int(p2))

prices[:5]

[1500000, 2200000, 1500000, 1286000, 786600]

In [11]:
data['Harga'] = prices

data

,Nama,Lokasi,Fasilitas,Review,Harga
0,Kost Mario,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",NaN,1500000
1,Kost Hub E,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",NaN,2200000
2,Kost Maha Cita Tipe A,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",NaN,1500000
3,Kost Griya 4S,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",4.6,1286000
4,Kost Bumi Marina Emas Tipe B,Sukolilo,"WiFi, Kasur, Akses 24 Jam",4.0,786600
...,...,...,...,...,...
195,Kost Pak Dachlan Tipe C,Mulyorejo,"WiFi, Kloset Duduk, Akses 24 Jam",-,700000
196,Kost B19 Tipe A,Sukolilo,"WiFi, AC, Kloset Duduk, Kasur, Akses 24 Jam",-,1200000
197,Kost Bu Novi I,Sukolilo,"K. Mandi Dalam, WiFi, Kasur, Akses 24 Jam",-,600000
198,Kost ITS Hangtuah,Sukolilo,"K. Mandi Dalam, WiFi, AC, Kloset Duduk, Kasur,...",-,1600000
199,Kost Keputih ITS,Sukolilo,"WiFi, Kloset Duduk, Kasur, Akses 24 Jam",-,650000

In [12]:
data.to_csv('data/data_kos_its_clean.csv', index=False)

In [13]:
# check duplicated name
data['Nama'].duplicated().sum()

0